<form
(ngSubmit)="registrar()"
autocomplete="off"
[formGroup]="form">
<body>
    <section class="register-box">
        <h1 class="cuenta">Registrate</h1>
        <p class="informacion">Ingresa tus datos porfavor</p>
        <input type="email" formControlName="correoUsuario" placeholder="Correo Electrónico">
        <div *ngIf="form.controls['correoUsuario'].errors?.['email']" style="margin: -5px 0px 20px 0px">Debe ingresar un correo.</div>

        <input type="text" formControlName="nombreUsuario" placeholder="Nombre de Usuario">
        <div *ngIf="form.controls['nombreUsuario'].errors?.['minlength']" style="margin: -5px 0px 20px 0px">El nombre de usuario debe de ser al menos de 3 caracteres.</div>
        <div *ngIf="form.controls['nombreUsuario'].errors?.['maxlength']" style="margin: -5px 0px 20px 0px">El nombre de usuario debe de ser menor de 100 caracteres.</div>

        <input type="text" formControlName="direccionUsuario" placeholder="direccionUsuario">

        <input type="text" formControlName="contrasenaUsuario" placeholder="Contraseña">
        <div *ngIf="form.controls['contrasenaUsuario'].errors?.['minlength']" style="margin: -5px 0px 20px 0px">La contraseña debe de ser al menos de 6 caracteres.</div>
        <div *ngIf="form.controls['contrasenaUsuario'].errors?.['maxlength']" style="margin: -5px 0px 20px 0px">La contraseña debe de ser menor de 25 caracteres.</div>

        <p class="danger">{{msg}}</p>
        <div class="row">
            <div class="col-1">
            </div>
        </div>
        <input type="submit" value="Registrarse">
        <div class="inicio">
            <p class="cuenta">Si ya eres cliente</p>
            <a class="login" routerLink=''>Inicia Sesión</a>
        </div>
    </section>
</body>
</form>