<div class="banner">
    <img src="https://mercury.vteximg.com.br/arquivos/ids/5917202/25_02_desktop_banner_categoria_licores.jpg?v=637814068106030000" alt="banner">
</div>

<div class="quienes-somos">
    <h1>NUESTRO APORTE</h1>
    <div class="row">
        <div class="column-1-T">
            <p>Debido al problema que está ocurriendo en todo el planeta hemos decidido modificar nuestra interfaz para poder aportar nuestro granito de arena, a través de las donaciones en nuestras compras y también en un apartado individual exclusivo para eso. GO LIONS BEER! CUIDA AL PLANETA</p>
        </div>
        <div class="column-2-I">
            <img src="../../assets/mapa.png" class="miniaturas" alt="libros">
        </div>
      </div>
</div>

<div class="empieza-escribir">
    <h1>¿Quienes Somos?</h1>
    <div class="row">
        <div class="column-1-I">
            <img src="../../assets/forestal.png" class="miniaturas" alt="libros">
        </div>
        <div class="column-2-T">
            <p>En Lion'sBeer te ofrecemos los mejores licores a un precio insuperable para el exigente juerguero trujillano.
                DELIVERY LAS 24h.
                ¡La juerga no puede parar, pero nuestro compromiso con el medio ambiente tampoco!</p>
        </div>
    </div>
</div>

<div class="unete-ya">
    <h1>Se parte de Lions Beer</h1>
    <div class="row">
        <div class="column-2-TU">
            <button mat-raised-button routerLink="/register" routerLinkActive="active" >REGÍSTRATE</button>
        </div>
    </div>
</div>