.navbarr{
    background-color: white;
    position: sticky;
    top:0px;
}


.navbar{
    height: 100px;
    justify-content: space-between;
    background-color: white;
}

.navbar img{
    padding-left:30px
}

.logo{
    height: 100%; 
}

.mat-toolbar{
    height: 110px;
    background-color: rgb(0, 0, 0);
    color: white;
}

button{
    font-weight: bold;
    font-size:16px;
    margin-right: 30px;
}
.container2{
    position: relative;
    padding-left: 1100px;
    color: white;
  }

  .banner{
    margin-top:20px
}

.banner img{
    justify-content: center;
    border-radius:50px;
    position: center;
    display:flex;
    width: 100%;
}

.quienes-somos{
    padding: 30px;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
}
.empieza-escribir{
    color:white;
    border-radius:20px;
    padding: 30px;
    background-color: #000000;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
p{ 
    height:50%;
    line-height: 200%;
    font-size: 20px;
}

.row {
    display: flex;
  }
  
  .column-1-T {
    margin-top:50px;
    flex: 100%;
    padding-right: 30px;
    text-align: justify;
    display: flex;
  }

  .column-2-I{
    flex: 10%;
    padding-left: 30px;
    display: flex;
  }

  .column-1-I{
    flex: 10%;
    padding-right: 30px;
    display: flex;
  }

  .column-2-T {
    margin-top: 70px;
    flex: 50%;
    padding-right: 30px;
    text-align: justify;
  }

.miniaturas{
    display:block;
    margin:auto;
}

.historias-famosas{
    padding: 30px;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
}

  
.column-1-3, .column-2-3, .column-3-3{
    flex: 50%;
    text-align: center;
}

.libro{
    margin-bottom: 30px;
}

h2{ 
    font-weight: bold;
}

.se-crowmember{
    color:white;
    border-radius:20px;
    padding: 30px;
    background-color: #000000;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
}

.column-1-TC {
    margin-top:50px;
    flex: 50%;
    padding-left: 30px;
    text-align: justify;
  }

.column-2-IC{
flex: 50%;
padding-left: 30px;
}

.unete-ya{
    padding: 30px;
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
}

.column-1-IU {
    margin-top:50px;
    flex: 50%;
    padding-left: 30px;
    text-align: justify;
}

.column-2-TU{
    margin-top: 90px;
    text-align: center;
    flex: 50%;
}

button{
    font-weight: bold;
    font-size:16px;
    margin-right: 30px;
}