<header class="navbarr">
<mat-toolbar>
    <img class="logo" src="../../assets/logolions.png" alt="Lionshop">
    <span>Lion Shop</span>

    <div class="column-1-T">
    </div>
    <div class="column-2-I">
        <button mat-button routerLink="/" class="ms-2">Inicio</button>
    
    <button mat-button routerLink="../login" class="ms-2">
        Iniciar sesión
    </button>

    <button mat-button routerLink="../register" class="ms-2">
        Registrate
    </button>
    </div>
    

    <span class="spacer"></span>

</mat-toolbar>
</header>
<router-outlet></router-outlet>
