@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

  .container{
    padding-top: 15px;
    margin-top: 15px;
  }
.mat-table {
      position: relative;
      flex: 100%;
      display: center;
      padding-left: 300px;
      border-radius: 25px;
      background-color: #F3F3F3;
  }
  .total{
    font-family: "Teko";
    font-size: 30px;
    position: relative;
      flex: 100%;
      display: center;
      padding-top: 14px;
      padding-left: 150px;
      border-radius: 25px;
      background-color: #F3F3F3;
  
}
.title-carrito{
    font-size: 40px;
    font-family: "Teko";
    position: center;
      flex: 100%;
      display: center;
      padding-left: 100px;
      border-radius: 25px;
      background-color: #F3F3F3;
}
  .row2{
    display: flex;
  }
  .fw-bold{
    flex: 90%;
  }
  .col-2{
    flex: 10%;
  }
  mat-form-field{
    width: 100%;
  }
  
  table{
    width: 100%;
    border-radius: 50px;
  }
  .pagar{ 
    font-family: "Teko";
    font-size: 40px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin-left: 1000px;
    display: center;
  }